*{
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial;
    background: #e0d7d7;
    margin: 0;
    padding: 0;
}

.wrapper { /*wrapper for nav section*/
    display: flex;
    position: relative;
}

.container { /* wrapper for main section*/
    display: flex;
    position: relative;
    margin-left: max(200px, 15%);
    margin-bottom: 10px;
    margin-right: 50px;
}

.box { /* class for organizing items in class container*/
       border: 4px solid;
       padding: 10px;
       text-align: center;
       margin-left: 11%;
}

.navbar {
    font-family: Verdana;
    position: fixed;
    width: 10%;
    min-width: 175px;
    height: 100%;
    background: #ad4f4f;
    padding: 24px 0;
    
}

.navbar h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 24px;
}

.navbar ul li{
    font-size: 20px;
    padding: 12px;
    border-bottom: 2px solid;
}

.navbar ul li a{
    color: #000000;
    display: block;
}

.navbar ul li:hover{
    background: #ddcfca;
}

.selected { /*this highlights in the menu bar the current page you are on.*/
    background: #ddcfca;
}
h1 { 
    text-align: center;
    font-size: 50px;
}

table {
   
}

th {
    border: 1px solid black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}

td {
    border: 1px solid black;
    text-align: center;
}

input[type="number"]{
    max-width: 50px;
}

#position {
    max-width: 70px;
}